header{
 background-color: pink;
 padding: 5px;

}

#logo{
    border-radius: 50px;
    height: 280px;
    width: 290px;
} 

@font-face {
    font-family:'dancing';
    src: url('DancingScript-VariableFont_wght.ttf') format('truetype');
}

.titulo-principal{
    position: absolute;
    top: 13%;
    left: 30%;
    transform: translate(-49%, -80%);
    font-size: 50px;
    font-family: 'dancing';
}